// bower:scss
// endbower
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei UI Light";
  background: whitesmoke;
}
@media screen and (min-width: 768px){
  .header-moblie{
    display: none;
  }
  .MainPage{
    width: 65%;
    h1{
      margin-top:60px ;
    }
  }
  .header{
    position: fixed;
    z-index: 2;
    height: 80px;
    width: 100%;
    background: white;
    opacity: 0.9;
    ul{
      width: 100%;
      li{
        width: 6em;

        height: 100%;
        a{
          padding-top:33px;
          height:47px;

        }
        a:hover{
          background: deepskyblue;
          color: white;
        }
      }
      li-active{
        border-bottom: orange solid 3px;
      }
    }

  }
  .nav{

    padding-top: 100px;
    width: 1180px;
    ul{
      width:1000px;
      li{
        width: 450px;
        margin: 0 20px 20px;

      }
    }
  }

}

@media screen and (max-width: 768px){
  .header-moblie{
    display: block;
  }
  .MainPage{
    width: 90%;
    margin-top: 50px;
    //padding:2%;
  }
  .header{
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    z-index: 5;
    top:0;
    height: 100%;
    width:55%;
    background: white;
    -webkit-transform: translate(-120%,0);
    -moz-transform: translate(-120%,0);
    -ms-transform: translate(-120%,0);
    -o-transform: translate(-120%,0);
    transform: translate(-120%,0);
    ul{
      margin:0 0;
      z-index: 3;
      width:100%;
      padding: 0;
      //padding-top:10%;
      li{
        width:100%;
        //border-bottom: 1px solid gainsboro;
        margin:1px 0 1px 0;
        box-shadow: gainsboro  1px 1px 2px ;

        height:3em;
        a{
          padding:1em 0 1em 0;
        }
      }
    }
  }
  .header-active{
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
  }
  .nav{
    width: 100%;
    margin-top:0;
    ul{
      width: 100%;
      padding:0;
      margin-top: 60px;
      li{
        width:100%;
        margin:5px auto;
        h2{
          margin:8px;
        }
        a:hover{
          background: deepskyblue;
          color: white;
        }
      }
    }
  }
}

li {
  list-style-type: none;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  text-decoration: none;
  color: black;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

a:hover {
  background: deepskyblue;
  color: white;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header-moblie{
  z-index: 1;
  position: fixed;
  top:0;
  height:60px;
  width:100%;
  background: white;
  box-shadow: gainsboro 1px 1px 50px;
}
.header {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;

  box-shadow: gainsboro 1px 1px 50px;
  ul {
    margin: 0;
    height: 100%;
    width: 100%;
    padding:0;
    li {
      margin: 0;
      float: left;
      a {
        width: 100%;
        text-align: center;
      }

    }

  }
}

.nav {

  height: auto;

  margin: 0 auto;
  ul {
    margin-left:auto;
    margin-right: auto;
    height: 100%;
    li {
      position: relative;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      float: left;

      list-style-type: none;
      height: 150px;

      background: white;
      box-shadow: gainsboro 1px 1px 50px;
      cursor: pointer;
      .liIcon {
        position: relative;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        margin: 10px;
        border-radius: 50%;
      }
      .LinkArr {
        position: absolute;
        top: 0;
        left: 150px;
        height: 100%;
        font-family: "Microsoft YaHei UI Light";
        color: black;
      }
    }
    li:hover .liIcon {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
      // -webkit-filter:blur(10px);
    }
    li:hover {
      box-shadow: darkgrey 1px 1px 50px;
      color: black;
    }

  }

}

p1, .red {
  color: red;
}

p2, .blue {
  color: blue;
}

p3, .green {
  color: green;
}

p4, .orange {
  color: orange;
}

p5{
  color: #AA1100;
}
.MainPage {

  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  box-shadow: gainsboro 1px 1px 50px;
  background: white;
  h1 {
    text-align: center;
  }
  p{
    img{
      margin-left: auto;
      margin-right:auto;
      width: 100%;
    }
  }

}
.footer{
  position: absolute;
  bottom: 0;
  .footer-up{

    height:100px;
    box-shadow: 1px 1px 10px gainsboro;
    background: white;
  }
}

.blurBG{
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  display: none;
  z-index: 3;
  position: fixed;
  top:0;
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  background: black;
  opacity: 0;
}
.blurBG-active{
  opacity: 0.4;
}


